<!doctype html>
<html>
<head>
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2468346-15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2468346-15');
</script>

<meta charset="utf-8">

<!-- Pull whatever the title of the page is, supplied with the block title tags in each page -->
<title>{% block title %}{% endblock %} - SSDP</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{{url_for('static', filename='ssdp_favicon.png')}}" type="image/png" />

<!-- Make it responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Mobile tags -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- SEO -->
<meta name="author" content="Students for Sensible Drug Policy">
<meta name="description" content="Students for Sensible Drug Policy Chapter Activity Tracker">
<meta name="robots" content="index, follow">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ogdenstudios">
<meta name="twitter:title" content="SSDP CAT">
<meta name="twitter:description" content="Students for Sensible Drug Policy Chapter Activity Tracker">
<meta name="twitter:creator" content="@ogdenstudios">

<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="{{ url_for('static', filename='logo-transparent.png') }}">

<!-- Open Graph data -->
<meta property="og:title" content="18th EMBL PhD Symposium: Life by Numbers">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ url_for('static', filename='SSDP20-logo-transparent.png') }}">
<meta property="og:description" content="Students for Sensible Drug Policy Chapter Activity Tracker">
<meta property="og:site_name" content="SSDP CAT">

<!-- Get bootstrap css -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<!-- Get cusom css -->
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>

<!-- Bootstrap navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <section class="container">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='SSDP20-logo-transparent.png') }}" width=75></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('chapters.index')}}">Chapters</a>
                <a class="nav-item nav-link" href="{{url_for('blog.leaderboard')}}">Leaderboard</a>
                <a class="nav-item nav-link" href="{{url_for('blog.availableActivities')}}">Available Activities</a>
                <a class="nav-item nav-link" href="{{url_for('blog.faq')}}">How-to/FAQ</a>
                <a class="nav-item nav-link" href="{{url_for('blog.store')}}">Store</a>
                <a class="nav-item nav-link" href="{{url_for('admin.stats')}}">Stats</a>
                {% if g.user %}
                <!-- These items only appear if people are logged in -->
                <a class="nav-item nav-link" href="{{url_for('admin.index')}}">Control Panel</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.logout')}}">Log Out</a>
                {% else %}
                <!-- If the user isn't logged in, display a link to do so -->
                <a class="nav-item nav-link" href="{{ url_for('auth.login')}}">Log In</a>
                {% endif %}
            </div>
    </section>
    </div>
</nav>

<section class="container">
    <header>
      <!-- Provide a header -->
        {% block header %}{% endblock %}
    </header>
    <!-- Flash errors. We don't really use this in the CAT because I didn't learn how, but it was in the Flask tutorial -->
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="row">
    {% block content %}
    {% endblock %}
  </div>
</section>
</html>

<!-- Bootstrap JS reqs -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
