{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Chapter Page{% endblock %}</h1>
{% endblock %} {% block content %}
<!-- <div class="centered-div"> -->
<div class="col">
    <div class="row">
        <div class="border col-3">
            <!-- <div class="progress-fill" style="height: {{points['cb']}}%"> </div> -->
            Chapter Building {{chapter['cb']}} points
        </div>
        <div class="border col-3">
            <!-- <div class="progress-fill" style="height:{{points['pc']}}%"></div> -->
            Policy Change {{chapter['pc']}} points
        </div>
        <div class="border col-3">
            <!-- <div class="progress-fill" style="height:{{points['te']}}%"></div> -->
            <span>Training and Education</span>
            <span>{{chapter['te']}} points</span>
        </div>
        <div class="border col-3">
            <img class="img-responsive" style="max-width: 100%" src="http://ssdp.actioncat.xyz/themes/bartik/images/shark.png">
            <span>{{ chapter['cb'] + chapter['pc'] + chapter['te']}} Total points</span>

            <span>Spent: {{ chapter['cb'] + chapter['pc'] + chapter['te'] - chapter['balance']}} </span>
            <span><strong>Current balance: {{chapter['balance']}}</strong></span></div>
    </div>
    <div class="feed-div">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Points</th>
                    {% if g.user['Permissions'] == 'Admin' or g.user['Permissions'] == 'Staffer' %}
                    <th scope="col"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for action in actions %}
                <tr>
                    <td>
                        {{ action['title'] }}
                    </td>
                    <td>
                        {{ action['points'] }}
                    </td>
                    {% if g.user['Permissions'] == 'Admin' or g.user['Permissions'] == 'Staffer' %}

                    <td>
                        <a class="action" href="{{ url_for('blog.update', id=action['id']) }}">Edit</a>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
