{% extends 'base.html' %} {% block header %}
<h1>{% block title %}{{ chapter['username'] }}{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="col">
    <div class="container">
        <div class="row no-gutters">
            <div class="border col-3 bucket">
                <div class="progress-fill" style="height: {{points['cb']}}%"> </div>
                <p class="progress-label text-center">Chapter Building</p>
                <span class="point-decl">{{chapter['cb']}} points</span>
            </div>
            <div class="border col-3 bucket">
                <div class="progress-fill" style="height:{{points['pc']}}%"></div>
                <p class="progress-label text-center">Policy Change</p>
                <span class="point-decl"> {{chapter['pc']}} points</span>
            </div>
            <div class="border col-3 bucket">
                <div class="progress-fill" style="height:{{points['te']}}%"></div>
                <p class="progress-label text-center">Training and Education</p>
                <span class="point-decl">{{chapter['te']}} points</span>
            </div>
            <div class="border col-3 bucket">
                <div class="container">
                    <div class="row">
                        <p class="points-earned text-center">{{ chapter['cb'] + chapter['pc'] + chapter['te']}}</p>
                    </div>
                    <div class="row">
                        <p class="text-center margin-center">Spent: {{ chapter['cb'] + chapter['pc'] + chapter['te'] - chapter['balance']}} </p>
                    </div>
                    <div class="row">
                        <p class="text-center margin-center">Current balance: {{chapter['balance']}}</p>
                    </div>
                    <div class="row">
                        <img class="img-responsive" style="max-width: 100%" src="http://ssdp.actioncat.xyz/themes/bartik/images/shark.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h2>Activity Feed</h2>
        </div>
        <div class="feed-div row mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Points</th>
                        <th scope="col">Note</th>
                        {% if g.user['Permissions'] == 'Admin' or g.user['Permissions'] == 'Staffer' %}
                        <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for action in actions %}
                    <tr>
                        <td>
                            {{ action['title'] }}
                        </td>
                        <td>
                            {{ action['points'] }}
                        </td>
                        <td>
                            {{ action['note'] }}
                        </td>
                        {% if g.user['Permissions'] == 'Admin' or g.user['Permissions'] == 'Staffer' %}

                        <td>
                            <a class="action" href="{{ url_for('blog.update', id=action['id']) }}">Edit</a>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
