{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Chapters{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "centered-div feed-div">

  {% for chapter in chapters %}
  {% if chapter['permissions'] == 'Chapter' %}
    <article class="post">
        <div>
          <div class="about"><a href="{{url_for('chapters.chapter', username=chapter['Username']) }}">{{ chapter['Username'] }}</a></div>
        </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
