{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Available Activities{% endblock %}</h1>
{% endblock %} {% block content %}
<p>These are all the available activities that your chapter can complete.</p>
<h2>Chapter Building</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %} {% if activity.type == 'Community Building' %}
            <tr>
                <td>
                    {{ activity.title }}
                    <td>
                        {{activity.description}}
                    </td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
    <h2>Policy Change</h2>

    <table>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %} {% if activity.type == 'Policy Change' %}
            <tr>
                <td>
                    {{ activity.title }}
                    <td>
                        {{activity.description}}
                    </td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
    <h2>Training and Education</h2>
    <table>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %} {% if activity.type == 'Training and Education' %}
            <tr>
                <td>
                    {{ activity.title }}
                    <td>
                        {{activity.description}}
                    </td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
    {% endblock %}
