{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Available Activities{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="section">

    <a id="main-content"></a>
    <div class="tabs">
    </div>
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">


            <div class="content">
                <div id="node-50" class="node node-page node-full clearfix" about="/available-activities" typeof="foaf:Document">

                    <span property="dc:title" content="Available Activities" class="rdf-meta element-hidden"></span>

                    <div class="content clearfix">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <p>These are all the available activities that your chapter can complete.</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div id="block-views-activity-list-cb-block" class="block block-views">

            <h2>Chapter Building</h2>

            <div class="content">
                <div class="view view-activity-list-cb- view-id-activity_list_cb_ view-display-id-block view-dom-id-f0bc26f625fd5debece739639fafa7d5 jquery-once-1-processed">



                    <div class="view-content">
                        <table class="views-table cols-2">
                            <thead>
                                <tr>
                                    <th class="views-field views-field-name" scope="col">
                                        <a href="/available-activities?order=name&amp;sort=asc" title="sort by Activity" class="active">Activity</a> </th>
                                    <th class="views-field views-field-description" scope="col">
                                        Description </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd views-row-first">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/submit-roster-time-10-points-plus-1-point-five-new-valid-e-mails">Submit roster on time (10 points plus 1 point per five new, valid e-mails)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Each semester you will get 10 points for submitting your roster on time. You will also get one point for every five new, valid e-mails that you provide to us. You must submit a roster each semester in order
                                                to use CAT points. |<br> Cada semestre obtendrá 10 puntos por presentar su lista a tiempo. También obtendrá un punto por cada cinco nuevos e-mails válidos que nos proporcione. Usted debe presentar una lista
                                                cada semestre con el fin de utilizar los puntos CAT.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/meet-ssdpers-another-chapter-20-points">Meet with SSDPers in another chapter (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Recognizing that SSDPers are spread all over the place during the summer, we encourage you to meet up with other SSDP members wherever you are interning, working, vacationing or living over the next few months.
                                                Talk to your OC to get in touch with local chapters, or try reaching out in the SSDP Chapter Leaders facebook group or the regional facebook groups. To earn the points, make sure to also take a picture of
                                                yourself and whoever you meet with and send it to your OC. |<br> Reconociendo que los SSDPers están extendidos por todo el lugar durante el verano, lo animamos a reunirse con otros miembros del SSDP dondequiera
                                                que esté internado, trabajando, vacacionando o viviendo durante los próximos meses. Hable con su coordinador para ponerse en contacto con los capítulos locales, o intente llegar en el grupo de SSDP Family
                                                o en los grupos regionales de facebook. Para ganar los puntos, asegúrese de tomar una foto de sí mismo y con quien se reúna y enviarlo a su coordinador.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/apply-school-funding-1-point-every-10-raised">Apply for school funding (1 point for every $10 raised)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>The summer is a great time to think about plans to raise funds for your chapter, especially as we get closer to Fall Regional Conference season. Many universities open up funding opportunities for student groups
                                                and individuals, including money for traveling to conferences. Take advantage of your time off over the summer to look into what you need to do in order to secure a budget for the upcoming school year. If
                                                you’re unsure of where to start, reach out to your OC and they can help you out. |<br> El verano es un buen momento para pensar en los planes para recaudar fondos para su capítulo, especialmente a medida
                                                que nos acercamos a la temporada de las Conferencias Regional de otoño. Muchas universidades abren oportunidades de financiamiento para grupos de estudiantes e individuos, incluyendo dinero para viajar a
                                                conferencias. Aproveche su tiempo libre durante el verano para ver lo que necesita hacer para asegurar un presupuesto para el próximo año escolar. Si no está seguro de por dónde empezar, comuníquese con
                                                su coordinador y ellos le pueden ayudar.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/attend-leadership-or-skills-building-training-5-points-person-training">Attend leadership or skills-building training (5 points per person per training)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to a leadership or skills-building training on your campus, in your community, or online. This can also refer to workshops that you attend at conferences. |<br> Esto se refiere a un entrenamiento
                                                de liderazgo o capacitación en su campus, en su comunidad o en línea. Esto también puede referirse a los talleres a los que asiste en conferencias.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/get-trained-ssdp-staff-5-points-person-training">Get trained by SSDP staff (5 points per person per training)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to a Chapter building, Policy change, or Training and Education training conducted by an SSDP staff member for your chapter. This can be online or in-person. |<br> Esto se refiere a un entrenamiento
                                                incluyendo Desarrollo de Capítulo, Cambio de Política, o Entrenamiento y Educación llevada a cabo por un miembro del personal SSDP para su capítulo. Esto puede ser en línea o en persona.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/volunteer-ssdp-or-partner-event-5-points-person-hour">Volunteer at SSDP or partner event (5 points per person per hour)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can be a Sensible Soirée, a drug policy reform conference, cannabis industry event, etc. |<br> Esto puede ser una Sensible Soirée, una conferencia de reforma de la política de drogas, un evento de la industria
                                                del cannabis, etc.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/first-callconversation-outreach-coordinator-5-points-new-chapters-only">First call/conversation with Outreach Coordinator (5 points, new chapters only)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>If you’re a new chapter, you get points for talking to your OC over the phone or online. |<br> Si eres un nuevo capítulo, obtienes puntos por hablar con tu coordinador por teléfono o en línea.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/each-new-officer-recruited-and-trained-vp-sec-treas-etc-5-points-semester">Each new officer recruited and trained (VP, Sec, Treas, etc.) (5 points. per semester)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>You can earn points for this each semester. |<br> Puedes ganar puntos por esto cada semestre.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/recognized-schoolremain-good-standing-school-10-points-semester">Recognized by school/remain in good standing with school (10 points per semester)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>You can earn points for this each semester. |<br> Puedes ganar puntos por esto cada semestre.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/securemaintain-faculty-adviser-10-points-semester">Secure/maintain faculty adviser (10 points. per semester)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>You can earn points for this each semester. |<br> Puedes ganar puntos por esto cada semestre.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/buildmaintain-relationships-other-orgs-campus-10-points-org-semester">Build/maintain relationships with other orgs on campus (10 points per org. per semester)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>You can earn points for this each semester. |<br> Puedes ganar puntos por esto cada semestre.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/host-regular-meetings-least-twice-month-15-points-semester">Host regular meetings, at least twice a month (15 points. per semester)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>You can earn points for this each semester. |<br> Puedes ganar puntos por esto cada semestre.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/chapter-member-elected-student-government-25-points">Chapter member elected to student government (25 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/recruit-and-train-next-chapter-president-30-points">Recruit and train next chapter President (30 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/successfully-fundraise-1-point-10-raised">Successfully fundraise (1 point per $10 raised)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/refer-friend-10-points-new-chapter-application">Refer a friend (10 points per new chapter application)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Love SSDP? Want to spread that love to other schools? If you know students at a school where there is no SSDP chapter, ask them to start one using our <a href="ssdp.org/chapters/start">google form</a>. Make
                                                sure when they fill out the new chapter application that they list you in how they heard about SSDP. An Outreach Coordinator will add these points when we receive the chapter application. |<br> ¿Amas SSDP?
                                                ¿Quieres extender ese amor a otras escuelas? Si conoce a estudiantes en una escuela donde no hay un capítulo de SSDP, pídales que inicien uno usando nuestro formulario google. Asegúrese de que cuando llenen
                                                la aplicación del nuevo capítulo que listen su nombre en la forma de cómo se enteró de SSDP. Un coordinador de extensión agrega estos puntos cuando recibamos la aplicación de capítulo.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd views-row-last">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/take-picture-donor-sheets-and-send-your-outreach-coordinator-10-points">Take a picture with donor sheets and send to your Outreach coordinator (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Follow the instructions on your donor thank you sheet (from your care package or found <a href="https://docs.google.com/document/d/1xv9MvgsQdu0HsM7laGXr2pt7uOnQkj9Xkixpbu8KJBM/edit?usp=sharing">here</a>) and
                                                send a picture of your chapter to your Outreach Coordinator.<br> Siga las instrucciones en la hoja de agradecimiento de su donante (de su paquete de cariño o se encuentra aquí) y envíe una imagen de su capítulo
                                                a su coordinador..</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>






                </div>
            </div>
        </div>
        <div id="block-views-activity-list-pc-block" class="block block-views">

            <h2>Policy Change</h2>

            <div class="content">
                <div class="view view-activity-list-pc- view-id-activity_list_pc_ view-display-id-block view-dom-id-e4e694fd917343ba85dc71a487c5efa0">



                    <div class="view-content">
                        <table class="views-table cols-2">
                            <thead>
                                <tr>
                                    <th class="views-field views-field-name" scope="col">
                                        Activity </th>
                                    <th class="views-field views-field-description" scope="col">
                                        Description </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd views-row-first">
                                    <td class="views-field views-field-name">
                                        <a href="/taxonomy/term/2">Table on campus (5 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Set up a table on campus to pass out information related to SSDP and recruit potential new members. |<br> Establecer una mesa en el campus para repartir la información relacionada con SSDP y reclutar nuevos
                                                miembros potenciales.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/submit-case-study-50-points">Submit case study (50 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>The case study template is <a href="https://docs.google.com/document/d/1qTMU1h4_Azku_K6vkMm7uIS34xBqS10T4GNMnhmLdag/edit">here</a>. You can submit a case study for any Policy Change action that was successfully
                                                implemented, or that was initiated and may have failed. |<br> La plantilla de estudio de caso está aquí. Puede enviar un estudio de caso para cualquier acción de cambio de política que se implementa correctamente
                                                o que se inició y puede haber fallado.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/register-voters-1-point-each-voter-registered">Register voters (1 point each voter registered)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/make-campaign-plan-your-outreach-coordinator-15-points">Make a campaign plan with your outreach coordinator (15 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>We know that you, as an SSDP chapter leader, want to change drug policies and help bring the War on Drugs to an end. But you don’t have to go it alone, and we've created resources to help you make change. </p>
                                            <p>One of the most important components of any change-making campaign is developing a plan. We've talked about how to create a campaign plan with your Outreach Coordinator before, but have not had any formal tools
                                                to assist in the process. To make things more clear about what we mean when we say "make a plan" - we've created a template document that you your OC can fill out together, or you can fill out on your own
                                                and review with your Outreach Coordinator if preferred. Check it out <a href="https://docs.google.com/document/d/1Ep9LlezCu3ExgGZZYGb6MsMTmtz4XVSgE41QNnF4yGI/edit">here</a>. |<br> Sabemos que usted, como
                                                líder de un capítulo del SSDP, quiere cambiar las políticas de drogas y ayudar a poner fin a la "guerra contra las drogas". Pero usted no tiene que hacerlo solo, su coordinador de extensión está aquí para
                                                ayudar. Programe una teleconferencia de llamadas o skype / google para planificar un cambio específico de política / ley en su campus, en su comunidad local o en todo el estado.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/distribute-educational-materials-non-tabling-setting-5-points">Distribute educational materials in a non-tabling setting (5 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can mean educational materials delivered at an event or canvassing. |<br> Esto puede significar materiales educativos entregados en un evento o prospección.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/collect-signatures-ballot-initiative-5-points-person-hour">Collect signatures for ballot initiative (5 points per person per hour)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/attend-lobbying-training-10-points">Attend lobbying training (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can be a training hosted by SSDP staff or a partner organization. |<br> Esto puede ser un entrenamiento organizado por el personal de SSDP o una organización asociada.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/write-submit-lteop-ed-10-points">Write &amp; submit LTE/op-ed (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can be in any campus or community media outlet. |<br> Esto puede ser en cualquier medio de comunicación del campus o de la comunidad.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/get-lteop-ed-published-10-points">Get LTE/op-ed published (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can be in any campus or community media outlet. |<br> Esto puede ser en cualquier medio de comunicación del campus o de la comunidad.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/get-politician-record-15-points">Get politician on the record (15 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to SSDP’s On the Record project. |<br> Esto se refiere al proyecto On the Record de SSDP.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/pass-student-government-resolution-endorsing-policy-reform-20-points">Pass a student government resolution endorsing policy reform (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can mean any relevant drug policy reform. Visit ssdp.org/campaigns for ideas! |<br> Esto puede significar cualquier reforma relevante de la política de drogas. ¡Visite ssdp.org/campaigns para obtener ideas!</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/meet-decision-makers-20-points">Meet with decision makers (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can be decision makers on campus, or decision makers the local, state, federal, and international level. |<br> Esto puede ser tomadores de decisiones en el campus, o tomadores de decisiones a nivel local,
                                                estatal, federal e internacional.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/host-campaign-themed-eventforumdebate-20-points">Host campaign-themed event/forum/debate (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to an event around a policy change campaign. |<br> Esto se refiere a un evento alrededor de una campaña de cambio de política.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/policy-changed-or-adopted-50-points">Policy changed or adopted (50 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This can refer to policy on campus or at the local, state, and federal level. |<br> Esto puede referirse a la política en el campus oa nivel local, estatal y federal.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/research-one-campus-ssdp-campus-policy-gradebook-30-points">Research one campus for the SSDP Campus Policy Gradebook (30 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>The purpose of the Gradebook is to assess the campus policies and philosophy surrounding the use of various substances on campus and in the campus community. This gradebook is a resource for students. It serves
                                                as a guide for SSDP chapters who are interested in engaging in policy change at the campus level. In addition, when published in the Spring of 2017, the Gradebook will serve as a source of information for
                                                incoming college and university students who are weighing the decision of what school to attend.</p>
                                            <p>Under the Campus Policy Grading Rubric, there are 100 points possible. Schools with sensible policies, a philosophy of response which does not include inflexible prohibition, stigmatization, and punishment,
                                                which provide accurate drug education and information; who promote a culture of openness and accessibility to harm reduction practices &amp; services receive higher score.</p>
                                            <p>Please review the instructions for the Gradebook <a href="https://docs.google.com/document/d/1JKer4sjaJCBP6_ebFupKHoWCRsvPXQr5jJu8weg9oyk/edit?usp=sharing">here</a>, and we will award you points when we've confirmed
                                                your submission. |<br> El propósito del Libro de Calificación es evaluar las políticas y la filosofía del plantel que rodean el uso de varias sustancias en el campus y en la comunidad del campus. Este libro
                                                de calificaciones es un recurso para los estudiantes. Sirve de guía para los capítulos del SSDP que están interesados en participar en el cambio de políticas a nivel de campus. Además, cuando se publique
                                                en la primavera de 2017, el libro servirá como una fuente de información para los estudiantes universitarios y universitarios que están entrando en la escuela y que están considerando la decisión de qué
                                                escuela asistir.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even views-row-last">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/policy-change-volunteering-5-points-hour-person">Policy Change Volunteering (5 points per hour per person)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This category is meant to describe any amount of time spent doing policy change work that is not otherwise captured in another category. For example, if you put on a campaign themed event, protest, or rally,
                                                please use that category. But if someone on SSDP staff asked you to do some policy research for a lobby day, or if you spent time doing other similar work not captured in another category, please record
                                                your time using this category. |<br> Esta categoría está destinada a describir cualquier cantidad de tiempo dedicado a realizar trabajos de cambio de políticas que no se capturan de otra manera en otra categoría.
                                                Por ejemplo, si realiza un evento temático de campaña, protesta o manifestación, utilice esa categoría. Pero si alguien en el personal de SSDP le pidió que hiciera alguna investigación sobre políticas para
                                                un día de cabildeo, o si pasó tiempo haciendo otro trabajo similar no capturado en otra categoría, registre su tiempo usando esta categoría.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>






                </div>
            </div>
        </div>
        <div id="block-views-activity-list-te-block" class="block block-views">

            <h2>Training and Education</h2>

            <div class="content">
                <div class="view view-activity-list-te- view-id-activity_list_te_ view-display-id-block view-dom-id-59b88f2cd48a65d3f2471a32d4d9eced">



                    <div class="view-content">
                        <table class="views-table cols-2">
                            <thead>
                                <tr>
                                    <th class="views-field views-field-name" scope="col">
                                        Activity </th>
                                    <th class="views-field views-field-description" scope="col">
                                        Description </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd views-row-first">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/do-ssdp-dare-10-points">Do the SSDP DARE (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Each month SSDP’s Diversity Awareness, Reflection and Education (DARE) committee produces a newsletter called the Monthly Mosaic. Each monthly newsletter will have 1-3 SSDP DAREs, which is a challenge related
                                                to diversity and inclusion for your chapter to complete. |<br> Cada mes, el Comité de Conciencia, Reflexión y Educación (DARE) de la Diversidad de SSDP produce un boletín llamado Monthly Mosaic. Cada boletín
                                                mensual tendrá 1-3 desafíos DARE de SSDP, que es un desafío relacionado con la diversidad y la inclusión para que su capítulo participen.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/respond-p2p-reflection-questions-training-curriculum-module-15-points-module">Respond to P2P Reflection Questions on a Training Curriculum module (15 points per module completed)</a>                                        </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>SSDP’s Peer Education Program was launched in April with the goal of empowering students with the tools and knowledge to facilitate open and honest conversation about substances and to reduce drug related harm
                                                on campus and in their communities. In order to become a certified SSDP Peer Educator, you must go through the lessons in the <a href="https://drive.google.com/open?id=1XrinH2wqKG2eRPbSDX-GEi63tAOqDwZhl-uwiHwsigU">Training Curriculum</a>                                                and answer the Reflection Questions in each module. While undergoing this process is not necessary to be able to present an SSDP Just Say Know lesson (which can be found at SSDP.org/justsayknow), going through
                                                the Training Curriculum will make you much more equipped to tackle tough situations that may arise. Submit your responses <a href="https://docs.google.com/a/ssdp.org/forms/d/e/1FAIpQLScxzUU86_Youd1-8TiC8dA_lKgG7sqXdXH3xkzgM6EOpbqAZA/viewform">here</a>.
                                                |<br> El Programa de Educación de Compañeros de SSDP fue lanzado en Abril con el objetivo de capacitar a los estudiantes con las herramientas y conocimientos para facilitar conversaciones abiertas y honestas
                                                sobre sustancias y reducir los daños relacionados con drogas en el campus y en sus comunidades. Para convertirse en un educador homologado de SSDP, debe pasar por las lecciones del Currículo de Capacitación
                                                y responder a las Preguntas de Reflexión en cada módulo. Aunque este proceso no es necesario para poder presentar una lección de SSDP Just Say Know (que se puede encontrar en SSDP.org/justsayknow), pasar
                                                por el Currículo de Capacitación le hará mucho más equipado para enfrentar situaciones difíciles que puedan surgir. Envíe sus respuestas aquí.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/distribute-harm-reduction-trainingmaterials-1-point-person-reached">Distribute harm reduction training/materials (1 point per person reached)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to any educational materials related to harm reduction or any event that trains people on how to practice harm reduction. |<br> Esto se refiere a cualquier material educativo relacionado con la reducción
                                                de daños o cualquier evento que capacita a la gente sobre cómo practicar la reducción del daño.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/direct-service-volunteering-assembling-or-distributing-syringes-or-naloxone">Direct service volunteering (Assembling or distributing syringes or Naloxone kits. 5 points per person per hour)</a>                                        </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to assembling or distributing syringes or naloxone kits, or working directly with those impacted by the War on Drugs. |<br> Esto se refiere a el ensamblaje o la distribución de jeringas o kits de
                                                naloxona, o trabajar directamente con los afectados por la guerra contra las drogas.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/positive-quotemedia-hit-10-points">Positive quote/media hit (10 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Someone from your chapter is quoted or your chapter is mentioned in a news article. Send the media source to your outreach coordinator to receive these points. Please attach the media link in the notes of your
                                                points submission. |<br> Alguien de su capítulo es citado o su capítulo es mencionado en un artículo de noticias. Envíe la fuente de los medios a su coordinador para recibir estos puntos. Adjunte el enlace
                                                multimedia en las notas de su envío para puntos.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/submit-content-blog-15-points">Submit content for blog (15 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Send a draft of the blog post to <a href="mailto:outreach@ssdp.org">outreach@ssdp.org</a> and an outreach coordinator will get back to you in 24 hours. For blog post requirements and guidelines, refer to the
                                                <a href="https://docs.google.com/document/d/171Wm1lvhbsbc3E0_r3ksM-db8BqPKexV-cxnI507qG4/edit?usp=sharing">guidelines</a>. |<br> Envíe un borrador de una entrada para el blog a <a href="mailto:outreach@ssdp.org">outreach@ssdp.org</a>                                                y un coordinador le contestarán en 24 horas. Para conocer los requisitos de entradas de blog, consulte la guía.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/host-general-eventforumdebate-20-points">Host general event/forum/debate (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>This refers to an educational event. |<br> Esto se refiere a un evento educativo.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/present-ssdp-peer-education-module-20-points">Present an SSDP Peer Education module (20 points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>From <a href="http://ssdp.org/justsayknow">http://ssdp.org/justsayknow</a> |<br> Desde <a href="http://ssdp.org/justsayknow">http://ssdp.org/justsayknow</a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/collect-evaluation-ssdp-peer-education-5-points-evaluation-collected">Collect evaluation from SSDP Peer Education (5 points per evaluation collected)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Send the <a href="https://docs.google.com/forms/d/e/1FAIpQLSestEPumdAhghYzwQUUMlCSlJLGU4JDgk35x9MozYxxD47OpQ/viewform">evaluation</a> to everyone who attended your JSK event to collect feedback that goes back
                                                to SSDP headquarters. |<br> Envíe la <a href="https://docs.google.com/forms/d/e/1FAIpQLSestEPumdAhghYzwQUUMlCSlJLGU4JDgk35x9MozYxxD47OpQ/viewform">evaluación</a> a todos los que asistieron a su evento JSK
                                                para recopilar comentarios que se enviará a la sede de SSDP.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/submit-suggestion-ssdp-jsk-modules-specific-drugs-1-point-resource-suggested">Submit suggestion for SSDP JSK modules on specific drugs (1 point per resource suggested)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Contact <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a> |<br> Comuníquese con <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/submit-suggestion-ssdp-training-curriculum-1-point-resource-suggested">Submit suggestion for SSDP Training Curriculum (1 point per resource suggested)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Contact <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a> |<br> Comuníquese con <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/translate-item-ssdp%E2%80%99s-website-non-english-language-15-points-750-words">Translate an item for SSDP’s website into a non-english language (15 points per 750 words)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Word count pro-rated to the nearest whole number. |<br> Recuento de palabras prorrateado al número entero más cercano.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd views-row-last">
                                    <td class="views-field views-field-name">
                                        <a href="/activity-list-taxonomy/create-just-say-know-module-50-points">Create a Just Say Know Module (50 Points)</a> </td>
                                    <td class="views-field views-field-description">
                                        <div>
                                            <p>Contact <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a> for information on how to create a Just Say Know module. |<br> Póngase en contacto con <a href="mailto:vilmarie@ssdp.org">vilmarie@ssdp.org</a>                                                para obtener información sobre cómo crear un módulo de Just Say Know.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>






                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
