{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log Activity{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="activity">Activity</label>
    <select name="activity" value="{{ request.form['activity']}}" required>
      <option value="policy">Policy Change</option>
      <option value="community">Community Building</option>
      <option value="education">Training and Education</option>
    </select>
    <label for="points">Points</label>
    <input name="points" id="points" value="{{ request.form['points'] }}" required>
    <label for="note">Notes</label>
    <textarea name="note">{{request.form['note']}}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
