{% extends 'base.html' %} {% block header %}
{% endblock %} {% block content %}
<div class="col">
  <!-- Pulled this directly from the Old CAT - it's likely we can implement it in a bit more of a pythonic way -->
  <h1>{% block title %}Frequently Asked Questions{% endblock %}</h1>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <p><a href="https://youtu.be/RfJ9Q9Z-4ao"><strong>Watch the SSDP CAT How-To Video</strong></a></p>
                                    <p><strong>What is the CAT?</strong></p>
                                    <p>The SSDP Chapter Activity Tracker (CAT) is an online interface for SSDP chapters to log the<br> activities they are engaging in. When chapters log activity on the CAT, they earn CAT points. CAT points can be spent on
                                        SSDP materials, conference registrations, and other items that help support your work. Think of the CAT as a way to earn resources (that would otherwise cost money) by logging your activism. Only established chapters
                                        are given access to the CAT, although other chapters may be given access to it on a case-by-case basis. If you are not an established SSDP chapter but would like access to the CAT, talk to your Outreach Coordinator.</p>
                                    <p><strong>Why should I use the CAT?</strong></p>
                                    <p>Logging your activity in the CAT will earn you points that you can trade in for materials, resources, and other items from SSDP headquarters. Earn free stuff with your activism! Additionally, the CAT serves as an effective
                                        means of data tracking for SSDP as a whole. The more accurately you use the CAT, the better we can tell the story of SSDP. It helps the staff determine what activities our chapters care most about and in turn we
                                        can tailor our chapter support to best suit your needs and priorities. </p>
                                    <p>By keeping track of your chapter’s activity you are leaving a very quantifiable legacy for future SSDPers to come. It’s also a fun way to engage in healthy competition among your fellow SSDP chapters. You can see where
                                        your chapter stands in our <a href="http://cat.ssdp.org/leaderboard">leaderboard</a>.</p>
                                    <p><strong>How do I add points?</strong></p>
                                    <p>1. Log in using the panel on the left of cat.ssdp.org<br> Your username should be the full name of your school (ex: “University of California Berkeley”, not “Berkeley”, or “UC Berkeley”) If you don’t know your
                                        username, password, or have trouble logging in, contact <a href="mailto:tyler@ssdp.org">tyler@ssdp.org</a></p>
                                    <p>2. Click “log activity” in either the top toolbar or the left side bar</p>
                                    <p>3. Select an activity from the drop down menu</p>
                                    <p>4. Add the correct point value (point values are listed at the end of each activity title)</p>
                                    <p>5. Enter any relevant notes - additional information about your action, links to relevant media coverage, etc.</p>
                                    <p>6. Click save</p>
                                    <p><strong>How do I spend points?</strong></p>
                                    <p>You’ll need to contact your Outreach Coordinator to spend your points.</p>
                                    <p><strong>When do points expire?</strong></p>
                                    <p>The CAT will reset on July 1st of every year.</p>
                                    <p><strong>What actions can I earn points for? How many?</strong><br> You can see the list of available actions through the drop down menu on the add points page. The full list of actions along with their descriptions
                                        can be viewed on the <a href="http://cat.ssdp.org/available-activities">“Available Activities”</a> tab at the top of the page. This list may change from time to time. Check the Featured Actions for weekly
                                        updates on actions that we’d like you to prioritize.</p>
                                    <p><strong>What if I can’t find my chapter?</strong></p>
                                    <p>Only Established chapters are listed on the CAT. If you’re an Established chapter and you’re<br> not listed, please contact Tyler to get your chapter added.</p>
                                    <p><strong>What if I have a question that isn’t answered here?</strong></p>
                                    <p>Email <a href="mailto:tyler@ssdp.org">tyler@ssdp.org</a>! Please be as specific as possible in your email.</p>
                                    <p>--------------------------------------------------------------------------------------</p>
                                    <p><strong>Preguntas frecuentes</strong></p>
                                    <p><strong>Que es el CAT?</strong></p>
                                    <p>El Seguimiento de Actividades del Capítulo CAT(por sus siglas en inglés) de EPSD es una interfaz de web para que los capítulos de EPSD puedan registrar las actividades a que se dedican. Cuando los capítulos registran
                                        sus actividades en el CAT, ganan puntos de CAT. Estos puntos pueden ser gastados en materiales de EPSD, registros para conferencias, y otras cosas que ayudan apoyar su trabajo. El CAT es como una manera de ganar
                                        recursos (que de otra manera costará dinero) por medio de manteniendo un registro de su activismo. Solamente capítulos establecidos tienen acceso al CAT, sin embargo otros capítulos podrán obtener acesco en una
                                        base de caso a caso. Si no es un capítulo establecido pero le gustaría acceso al CAT, hable con su Coordinador. </p>
                                    <p><strong>¿Por qué debo utilizar el CAT?</strong></p>
                                    <p>Registrando sus actividades en el CAT le ganará puntos que puede intercambiar por materiales, recursos, y otros artículos de la sede de SSDP. Gana artículos gratis con su activismo! Además, el CAT sirve como una forma
                                        eficiente de seguimiento de datos para SSDP en su totalidad. Utilizando el CAT en la forma más precisa, nos permite contar mejor la historia de SSDP. Ayuda también al personal determinar las actividades por las
                                        cuales nuestros capítulos más se preocupan y a su vez podemos adaptar nuestro apoyo para satisfacer mejor sus necesidades y prioridades.<br> Al mantener un registro de las actividades de su capítulo está dejando
                                        un legado muy cuantificable para SSDPers en el futuro. Es también una forma divertida de participar en competencia sana entre sus capítulos compañeros de SSDP. Se puede encontrar el lugar en donde queda su capítulo
                                        en la tabla de posiciones leaderboard.</p>
                                    <p><strong>¿Cómo puedo añadir puntos?</strong></p>
                                    <p>1.Inicie la sesión utilizando el panel de la izquierda de cat.ssdp.org<br> Su nombre de usuario debe ser el nombre completo de su universidad (por ejemplo: “la Universidad de California Berkeley,” no “Berkeley,”
                                        tampoco “UC Berkeley”). Si usted no sabe su nombre de usuario, contraseña, o tiene problemas en iniciar la sesión, póngase en contacto con <a href="mailto:tyler@ssdp.org">tyler@ssdp.org</a>.</p>
                                    <p>2.Haz Clic a “log activity” en la pestaña de arriba o en el bar del lado de izquierda. </p>
                                    <p>3. Seleccione una actividad desde el menú desplegable. </p>
                                    <p>4. Añadir el valor correcto de los puntos (los valores de los puntos están al final de cada título de las actividades).</p>
                                    <p>5. Incluya cualquier comentario relevante -información adicional sobre su acción, enlaces a publicaciones relevantes de los medios de comunicación, etc.</p>
                                    <p>6. Haz clic en “save” guardar.</p>
                                    <p><strong>¿Como puedo gastar puntos?</strong></p>
                                    <p> Deberías ponerse en contacto con su Outreach Coordinator para gastar sus puntos. Jake, Scott, Tyler, o Frances, dependiendo de en qué región se encuentre. Para todos los capítulos internacionales sería Jake su punto
                                        de contacto. Se puede ver que está disponible para su compra en la tienda de SSDP.</p>
                                    <p><strong>¿Cuando expiran los puntos?</strong></p>
                                    <p>El CAT reiniciará el primero de Julio de cada año.</p>
                                    <p><strong>¿Como puedo ganar puntos? ¿Con cuáles acciones? ¿Cuántos?<strong></strong></strong>
                                    </p>
                                    <p>Se puede ver la lista de acciones disponibles a través del menú desplegable en la página titulada ‘add points.’ La lista completa de acciones junto con sus descripciones se puede ver en la pestaña "Available Activities"
                                        en la parte superior de la página. Esta lista puede cambiar de vez en cuando. Visita Featured Activities para ver cambios a las acciones que nos gustaría que ustedes se pueda dar prioridad.</p>
                                    <p><strong>¿Que hago si no encuentro mi capítulo/organización?</strong></p>
                                    <p>Solamente los capítulos establecidos están incluidos en la lista del CAT. Si es un capítulo establecido, y no estás en la lista, por favor póngase en contacto con Tyler para que su capítulo sea agregado a la lista.</p>
                                    <p><strong>¿Que hago si tengo una pregunta que no tiene respuesta aún aquí?</strong></p>
                                    <p>¡Envíen un correo a <a href="mailto:tyler@ssdp.org">tyler@ssdp.org</a>! Por favor sean lo más específico posible en sus correos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
