{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Activities{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for activity in activities %}
    <article class="post">
      <header>
        <div>
          <div class="about">{{ activity['title'] }} by {{ activity['username'] }} on {{ activity['created'].strftime('%Y-%m-%d') }} for {{activity['points']}} points</div>
        </div>
        {% if g.user['id'] == activity['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=activity['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
