{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="col">
  <h1>{% block title %}Leaderboard{% endblock %}</h1>
  <div class="feed-div">
      <table class = "table">
          <thead>
              <tr>
                  <th>Rank</th>
                  <th>Chapter</th>
                  <th>Points</th>
              </tr>
          </thead>
          <tbody>
            {% for chapter in chapters %}
              <tr>
                  <td>
                      <span>{{ loop.index }}</span>
                  </td>
                  <td>
                    <a href="{{url_for('chapters.chapter', url=chapter['url']) }}">{{chapter['Username']}}</a>
                  </td>
                  <td class="views-field views-field-field-point-value active">
                    {{chapter['balance']}}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}
