{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="section">

    <a id="main-content"></a>

    <div class="tabs">
    </div>
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="view view-leaderboard view-id-leaderboard view-display-id-page view-dom-id-8e88e91a6170ccb4766175235ce6686f jquery-once-1-processed">
                    <div class="view-header">
                        Displaying 1 - 10 of 118 chapters </div>
                    <div class="view-content">
                        <table class="views-table cols-4">
                            <thead>
                                <tr>
                                    <th class="views-field views-field-counter views-align-right" scope="col">
                                        Rank </th>
                                    <th class="views-field views-field-name-1" scope="col">
                                        Chapter </th>
                                    <th class="views-field views-field-field-point-value active" scope="col">
                                        <a href="/leaderboard?order=field_point_value&amp;sort=asc" title="sort by Points" class="active">Points<img typeof="foaf:Image" src="https://cat.ssdp.org/misc/arrow-asc.png" alt="sort ascending" title="sort ascending" width="13" height="13"></a>                                        </th>
                                    <th class="views-field views-field-picture views-align-center" scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd views-row-first">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>1</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-colorado-boulder/226" title="View user profile." class="username" xml:lang="" about="/chapter/university-colorado-boulder/226" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of Colorado Boulder</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        5145 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/university-colorado-boulder/226"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-226-1493867424.jpg?itok=85NaKcs0" alt=""></a>                                        </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>2</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-pittsburgh/275" title="View user profile." class="username" xml:lang="" about="/chapter/university-pittsburgh/275" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of Pittsburgh</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        5050 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>3</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-texas-austin/253" title="View user profile." class="username" xml:lang="" about="/chapter/university-texas-austin/253" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of Texas Austin</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        4500.5 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/university-texas-austin/253"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-253-1471041475.jpg?itok=Hab571Ya" alt=""></a>                                        </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>4</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/kent-state-university/235" title="View user profile." class="username" xml:lang="" about="/chapter/kent-state-university/235" typeof="sioc:UserAccount" property="foaf:name" datatype="">Kent State University</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        4322 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/kent-state-university/235"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-235-1506105865.jpg?itok=_X1b0zC4" alt=""></a>                                        </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>5</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/ssdp-nigeria/373" title="View user profile." class="username" xml:lang="" about="/chapter/ssdp-nigeria/373" typeof="sioc:UserAccount" property="foaf:name" datatype="">SSDP Nigeria</a> </td>
                                    <td class="views-field views-field-field-point-value active">
                                        3545 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/ssdp-nigeria/373"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-373-1476624045.jpg?itok=6yCDSpgg" alt=""></a> </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>6</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-connecticut/246" title="View user profile." class="username" xml:lang="" about="/chapter/university-connecticut/246" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of Connecticut</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        2847 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/university-connecticut/246"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-246-1475118545.jpg?itok=Y23l91x6" alt=""></a>                                        </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>7</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/ferris-state-university/336" title="View user profile." class="username" xml:lang="" about="/chapter/ferris-state-university/336" typeof="sioc:UserAccount" property="foaf:name" datatype="">Ferris State University</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        2676 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>8</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-vienna/444" title="View user profile." class="username" xml:lang="" about="/chapter/university-vienna/444" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of Vienna</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        2428 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/university-vienna/444"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-444-1521991172.jpg?itok=sTsm5toe" alt=""></a> </td>
                                </tr>
                                <tr class="odd">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>9</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/university-north-georgia-gainesville/249" title="View user profile." class="username" xml:lang="" about="/chapter/university-north-georgia-gainesville/249" typeof="sioc:UserAccount" property="foaf:name" datatype="">University of North Georgia Gainesville</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        2404.5 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/university-north-georgia-gainesville/249"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-249-1472077888.jpg?itok=yNtIKcQr" alt=""></a>                                        </td>
                                </tr>
                                <tr class="even views-row-last">
                                    <td class="views-field views-field-counter views-align-right rank">
                                        <span>10</span> </td>
                                    <td class="views-field views-field-name-1">
                                        <a href="/chapter/cork-institute-technology/225" title="View user profile." class="username" xml:lang="" about="/chapter/cork-institute-technology/225" typeof="sioc:UserAccount" property="foaf:name" datatype="">Cork Institute of Technology</a>                                        </td>
                                    <td class="views-field views-field-field-point-value active">
                                        1902 </td>
                                    <td class="views-field views-field-picture views-align-center">
                                        <a href="/chapter/cork-institute-technology/225"><img typeof="foaf:Image" src="https://cat.ssdp.org/sites/default/files/uploads/styles/thumbnail/public/pictures/picture-225-1471518968.jpg?itok=o1gBy9_G" alt=""></a>                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="item-list">
                        <ul class="pager">
                            <li class="pager-previous first">&nbsp;</li>
                            <li class="pager-current">1 of 12</li>
                            <li class="pager-next last"><a title="Go to next page" href="/leaderboard?page=1">next ›</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
