{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Store{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="section">

    <a id="main-content"></a>

    <div class="tabs">
    </div>
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">


            <div class="content">
                <div id="node-3872" class="node node-page node-full clearfix" about="/store" typeof="foaf:Document">

                    <span property="dc:title" content="CAT Store" class="rdf-meta element-hidden"></span>

                    <div class="content clearfix">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeS8b5xlk5MwGFS6sN721uBZU7xQQjvQWSSeJFdX7JqgJ5e-Q/viewform?embedded=true" marginheight="0" marginwidth="0" width="760" height="500" frameborder="0">Loading...</iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
