{% extends 'base.html' %}
{%block title %}Admin{%endblock%}
  {% block header %}
  {% if g.user['username'] == 'tyler' %}
    <h1>Admin</h1>
    {% else %}
    <h1>Restricted</h1>
    {{g.user['permissions']}}
    {% endif %}
  {% endblock %}

  {% block content %}
  {% if g.user['username'] == 'tyler' %}
  <div class="container">
  <div class="row">
    <div class="col-sm">
        <!-- Section to add users -->
        <h2>Add Users</h2>
      <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
      <label for="permissions">Permissions</label>
      <select class="form-control" id="Permissions">
        <option>Chapter</option>
        <option>Staffer</option>
        <option>Admin</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
    <div class="col-sm">
      <h2>Add Categories</h2>

        <!-- Section to add point categories -->
        <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
        <label for="permissions">Permissions</label>
        <select class="form-control" id="Permissions">
          <option>Chapter</option>
          <option>Staffer</option>
          <option>Admin</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm">
      <h2>Log Points</h2>

      <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
      <label for="permissions">Permissions</label>
      <select class="form-control" id="Permissions">
        <option>Chapter</option>
        <option>Staffer</option>
        <option>Admin</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col-sm">
      <h2>Spend Points</h2>

      <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
      <label for="permissions">Permissions</label>
      <select class="form-control" id="Permissions">
        <option>Chapter</option>
        <option>Staffer</option>
        <option>Admin</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
</div>




  <!-- Section to spend points -->
  {% endif %}
  {% endblock %}
