{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Spend Points{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-sm">
  <form method="post">
  <div class="form-group">
    <label for="item">Item</label>
    <select name="item" class="form-control" id="item">
      {% for item in items %}
      <option>{{item.title}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="cost">Points</label>
    <input name="cost" class="form-control" id="points" placeholder="Points">
  </div>

  {% if g.user['permissions'] == 'Admin' or g.user['permissions'] == 'Staffer' %}
  <div class="form-group">
  <label for="chapter">Chapter</label>
  <select name="chapter" class="form-control" id="chapter">
    {% for chapter in chapters %}
    <option>{{chapter.username}}</option>
    {% endfor %}
  </select>
</div>
{% endif %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
