{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "col">
  <table class = "table">
    <tr>
      <td>Community Building Points</td>
      <td>{{points['cb']}}</td>
    </tr>
    <tr>
      <td>Policy Change Points</td>
      <td>{{points['pc']}}</td>
    </tr>
    <tr>
      <td>Training and Education Points</td>
      <td>{{points['te']}}</td>
    </tr>
    <tr>
      <td>Total Earned</td>
      <td>{{points['total']}}</td>
    </tr>
    <tr>
      <td>Total Spent</td>
      <td>{{points['spent']}}</td>
    </tr>
    <tr>
      <td>High Quality Community Builders</td>
      <td>{{hq['cb']}}</td>
    </tr>
    <tr>
      <td>High Quality Advocates</td>
      <td>{{hq['pc']}}</td>
    </tr>
    <tr>
      <td>High Quality Educators</td>
      <td>{{hq['te']}}</td>
    </tr>
    <tr>
      <td>High Quality Chapters</td>
      <td>{{points['hq']}}</td>
    </tr>
  </table>
<table class = "table">
{% for activity in activities %}
<tr>
<td>{{activity.title}}</td>
<td>{{activity_count[activity.title]}}</td>
</tr>
{% endfor %}
</div>
{% endblock %}
