{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<div class = "col">
  <form class = "form-group" method="post">
    <div class ="formgroup">
      <input class="form-control"name="username" id="username" value="{{ user['username'] }}">
  </div>
  <div class = "formgroup">
    <input class="form-control"name="email" id="email" value="{{ user['email'] }}">
  </div>
  <div class = "formgroup">
    <!-- For security and ability reasons, we don't render the plain text password here. If we leave it blank, the password will stay the same. Any other value entered here will get hashed and entered. So don't accidentally put a space in there while tabbing through -->
    <input class="form-control"name="password" id="password" value="">
  </div>
  <div class = "formgroup">
    <input class="form-control" name="permissions" id="permissions" value="{{ user['permissions']}}">
  </div>
  <div class ="formgroup">
    <input class="form-control" type="submit" class = "btn btn-primary" value="Save">
  </div>

  </form>
</div>

{% endblock %}
